[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Flask = "*"
Jinja2 = "*"
pylint = "*"
autopep8 = "*"
Werkzeug = "*"
Flask-Login = "*"
PyYAML = "*"
gunicorn = "*"
flask-mysqldb = "*"
Pillow = "*"
pillow = "*"

[requires]
python_version = "3.8"
