{% extends "base.html" %}

{% block content %}
<div class="card d-grid gap-2 col-6 mx-auto" style="padding: 18px 24px; max-width: 30rem;">
    <h3>Sign Up</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages and 'exists' in messages[0] %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}" class="alert-link">login page</a>.
    </div>
    {% elif messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/signup">
        <div class="form-floating mb-3">
            <input class="form-control" type="text" name="username" placeholder="Userame">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="password" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="email" name="email" placeholder="Email">
            <label for="floatingInput">Email</label>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-lg">Sign Up</button>
    </form>
</div>
{% endblock %}